<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>道乎</title>
    <link rel="stylesheet" type="text/css" href="../static/styles/bootstrap.min.css" th:href="@{/styles/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/styles/font-awesome.min.css" th:href="@{/styles/font-awesome.min.css}"/>

    <link rel="stylesheet" media="all" href="../static/styles/style.css" th:href="@{/styles/style.css}"/>
    <script type="text/javascript" src="../static/scripts/jquery.js" th:src="@{/scripts/jquery.js}"></script>
    <script type="text/javascript" src="../static/scripts/main/base/base.js" th:src="@{/scripts/main/base/base.js}"></script>
    <script type="text/javascript" src="../static/scripts/main/base/util.js" th:src="@{/scripts/main/base/util.js}"></script>
    <script type="text/javascript" src="../static/scripts/main/base/event.js" th:src="@{/scripts/main/base/event.js}"></script>
    <script type="text/javascript" src="../static/scripts/main/base/upload.js" th:src="@{/scripts/main/base/upload.js}"></script>
    <script type="text/javascript" src="../static/scripts/main/component/component.js" th:src="@{/scripts/main/component/component.js}"></script>
    <script type="text/javascript" src="../static/scripts/main/component/popup.js" th:src="@{/scripts/main/component/popup.js}"></script>
    <script type="text/javascript" src="../static/scripts/main/component/popupLogin.js" th:src="@{/scripts/main/component/popupLogin.js}"></script>
    <script type="text/javascript" src="../static/scripts/main/component/upload.js" th:src="@{/scripts/main/component/upload.js}"></script>
    <script type="text/javascript" src="../static/scripts/main/component/popupUpload.js" th:src="@{/scripts/main/component/popupUpload.js}"></script>
    <script type="text/javascript" src="../static/scripts/main/util/action.js" th:src="@{/scripts/main/util/action.js}"></script>

</head>
<div th:replace="header::header(${user})" ></div>
<body>
<div th:inline="text" id="main">
    <div class="zh_detail">
    <div class="detail_right">
    <div class="zh_container">
        <div class="post detail">

            <div class="zh_content">
                <div class="detail_content">
                    <div class="zh_h1" th:text="${news.title}">
                    </div>
                    <div class="zh_con_detail" >
                            <div class="zh_content-main">
                                <div class="user_content">
                                    <div class="user_head"><a th:href="${'/user/'+owner.id}"><img width="32" class="img-circle" th:src="${owner.headUrl}"/></a></div>
                                    <div class="user_right">
                                        <div  class="user_name"><a th:href="${'/user/'+owner.id}">[[${owner.name}]]</a></div>
                                        <div class="introduce">这个人很懒什么也没留下</div>
                                    </div>
                                    <div class="zh_clearfloat"></div>
                                </div>
                                <!--<img class="detail_content_img" th:src="@{${news.image}}" src="" alt=""/>-->
                                <div class="detail_meta">
                                    [[${news.link}]]
                                </div>
                            </div>
                           <div class="zh_clearfloat"></div>
                    </div>
                </div>

            </div>
            <div class="pinlun">
                <div class="votebar">

                    <button th:if="${like gt 0}" class="click-like up pressed" th:attr="data-id=${news.id}" data-id="" title="赞同"><i class="vote-arrow"></i><span class="count">[[${'已赞同 '+news.likeCount}]]</span></button>

                    <button th:unless="${like gt 0}" class="click-like up" th:attr="data-id=${news.id}" data-id="" title="赞同"><i class="vote-arrow"></i><span class="count">[[${'赞同 '+news.likeCount}]]</span></button>

                    <button th:if="${like lt 0}" class="click-dislike down pressed" th:attr="data-id=${news.id}" data-id="" title="反对"><i class="vote-arrow"></i></button>

                    <button th:unless="${like lt 0}"  class="click-dislike down" th:attr="data-id=${news.id}" data-id="" title="反对"><i class="vote-arrow"></i></button>
                    <div style="clear:both"></div>
                </div>
                <button class="zh_button">
                                    <span>
                                        <i class="icon-comment"></i><a th:href="'/news/'+${news.id}" href="">[[${' '+news.commentCount+' 评论'}]]</a>
                                    </span>

                </button>
                <button class=" zh_button">
                                    <span>
                                        <i class="juli icon-star"></i>收藏
                                    </span>

                </button>
                <button class="zh_button">
                                    <span>
                                        <i class="juli icon-share"></i>分享
                                    </span>

                </button>
                <button class="zh_button">
                                    <span>
                                        <i class="juli icon-heart"></i>喜欢
                                    </span>

                </button>
            </div>
        </div>


        <div class="post-comment-form">

            <span th:if="${user !=null}" style="margin-left: 20px">评论 ([[${news.commentCount}]])</span>
            <form th:if="${user !=null}" method="post" action="/addComment">
                <input name="newsId" type="hidden" th:value="${news.id}" />

                <div class="form-group text required comment_content">
                    <label class="text required sr-only">
                        <abbr title="required">*</abbr> 评论</label>
                    <textarea rows="5" class="text required comment-content form-control" name="content" id="content"></textarea>
                </div>
                <div class="text-right">
                    <input type="submit" name="commit" value="提 交" style="margin-right: 20px" class="btn btn-default btn-info"/>
                </div>
            </form>

            <div th:if="${user ==null}" style="margin-bottom: 20px" class="login-actions">
                <a class="btn btn-success" href="/?pop=1">登录后评论</a>
            </div>

        </div>

        <div id="comments" class="comments">
            <div th:each="commentvo: ${comments}" class="media">
                <a class="media-left" th:href="'/user/'+${commentvo.get('user').id}">
                    <img th:src="@{${commentvo.get('user').headUrl}}"/>
                </a>
                <div class="media-body">
                    <h4 class="media-heading">
                        <small class="date">[[${#dates.format(commentvo.get('comment').createdDate,'yyyy年MM月dd日 HH:mm:ss')}]]
                        </small>
                    </h4>
                    <div>[[${commentvo.get('comment').content}]]</div>
                </div>
            </div>

        </div>
        </div>
    </div>
    <div class="user_tip"></div>
    <div class="zh_clearfloat"></div>
    </div>
    <script type="text/javascript">
          $(function(){

            // If really is weixin
            $(document).on('WeixinJSBridgeReady', function() {

              $('.weixin-qrcode-dropdown').show();

              var options = {
                "img_url": "",
                "link": "http://nowcoder.com/j/wt2rwy",
                "desc": "",
                "title": "读《Web 全栈工程师的自我修养》"
              };

              WeixinJSBridge.on('menu:share:appmessage', function (argv){
                WeixinJSBridge.invoke('sendAppMessage', options, function (res) {
                  // _report('send_msg', res.err_msg)
                });
              });

              WeixinJSBridge.on('menu:share:timeline', function (argv) {
                WeixinJSBridge.invoke('shareTimeline', options, function (res) {
                  // _report('send_msg', res.err_msg)
                });
              });

              // $(window).on('touchmove scroll', function() {
              //   if ((window.innerHeight + window.scrollY) >= document.body.offsetHeight) {
              //     $('div.backdrop').show();
              //     $('div.share-help').show();
              //   } else {
              //     $('div.backdrop').hide();
              //     $('div.share-help').hide();
              //   }
              // });

            });

          })

    </script>
    <script type="text/javascript" src="/scripts/main/site/detail.js"></script>
</div>
<div th:replace="footer::footer" ></div>
</body>
</html>