<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>道乎</title>
    <link rel="stylesheet" type="text/css" href="../static/styles/bootstrap.min.css" th:href="@{/styles/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/styles/font-awesome.min.css" th:href="@{/styles/font-awesome.min.css}"/>

    <link rel="stylesheet" media="all" href="../static/styles/style.css" th:href="@{/styles/style.css}"/>
    <script type="text/javascript" src="../static/scripts/jquery.js" th:src="@{/scripts/jquery.js}"></script>
    <script type="text/javascript" src="../static/scripts/main/base/base.js" th:src="@{/scripts/main/base/base.js}"></script>
    <script type="text/javascript" src="../static/scripts/main/base/util.js" th:src="@{/scripts/main/base/util.js}"></script>
    <script type="text/javascript" src="../static/scripts/main/base/event.js" th:src="@{/scripts/main/base/event.js}"></script>
    <script type="text/javascript" src="../static/scripts/main/base/upload.js" th:src="@{/scripts/main/base/upload.js}"></script>
    <script type="text/javascript" src="../static/scripts/main/component/component.js" th:src="@{/scripts/main/component/component.js}"></script>
    <script type="text/javascript" src="../static/scripts/main/component/popup.js" th:src="@{/scripts/main/component/popup.js}"></script>
    <script type="text/javascript" src="../static/scripts/main/component/popupLogin.js" th:src="@{/scripts/main/component/popupLogin.js}"></script>
    <script type="text/javascript" src="../static/scripts/main/component/upload.js" th:src="@{/scripts/main/component/upload.js}"></script>
    <script type="text/javascript" src="../static/scripts/main/component/popupUpload.js" th:src="@{/scripts/main/component/popupUpload.js}"></script>
    <script type="text/javascript" src="../static/scripts/main/util/action.js" th:src="@{/scripts/main/util/action.js}"></script>

</head>
<body class="welcome_index">


<header th:fragment="header(user,unReadNum)" class="navbar navbar-default navbar-static-top bs-docs-nav post_top" id="top" role="banner">
    <div class="container">
        <div class="navbar-header">


            <a href="/" class="navbar-brand logo">
                <i class="zh_logo">道乎</i>
            </a>
        </div>
        <nav class="collapse navbar-collapse bs-navbar-collapse navbar-left" role="navigation">

            <ul class="nav navbar-nav zh_ul">

                <li  class="zh_active2"><a href="/">首页</a></li>
                <li class=""><a href="">发现</a></li>
                <li  class=""><a href="">等你来答</a></li>
                <li   class="bar1" id="input1">
                    <form >
                        <input  type="text" id="inputTop" placeholder="请输入您要搜索的内容..."/>
                        <button id="btn_input_1_1" ></button></form></li></ul>

        </nav>

        <nav class="collapse navbar-collapse bs-navbar-collapse navbar-right" role="navigation">

            <ul class="nav navbar-nav navbar-right " style="margin-right: 30px">

                <li th:if="${user !=null}" class="js-share" ><a href="javascript:void(0);">
                    <button type="button" id="js-tiwen" class="zh_head_button">提问</button></a></li>
                <li th:if="${user !=null}" >
                    <span class="msg-num2" th:inline="text">[[${unReadNum}]]</span>
                    <a href="/msg/list"><img class="zh_duihua" alt="对话" src="../static/images/img/zh_duihua.png" th:src="@{/images/img/zh_duihua.png}"/></a></li>
                <li th:if="${user !=null}" class=""><a th:href="'/user/'+${user.id}" th:text="${user.zhName}">用户名</a></li>
                <li th:if="${user !=null}" ><a href="/logout/"><img class="zh_edit" alt="退出" src="../static/images/img/exit.png" th:src="@{/images/img/exit.png}"/></a></li>

                <li th:if="${ user ==null}" class="js-login" id="js-login-1"><a href="javascript:void(0);">登陆</a></li>

            </ul>

        </nav>
    </div>


    <script th:inline="javascript">
        window.addEventListener('scroll', function(){
            let t = $('body, html').scrollTop();   // 目前监听的是整个body的滚动条距离
            if(t>0){
                $('.post_top').addClass('post_top_active')
            }else{
                $('.post_top').removeClass('post_top_active')
            }
        })
    document.getElementById('btn_input_1_1').onclick=function () {
        if ([[${user}]]==null){
            var e = document.createEvent("MouseEvents");
            e.initEvent("click", true, true);
            document.getElementById("js-login-1").dispatchEvent(e);
            return false;}
        var text=document.getElementById('inputTop').nodeValue;
        $.ajax({
            url: '/sou',
            method: 'post',
            data: {text: text},
            dataType: 'json'
        }).done(function (oResult) {
            alert('已关注');
        }).fail(function (oResult) {
            alert('出现错误，请重试');
        }).always(function () {
            this.requesting = false;
        });
    }
    </script>
</header>
</body>
</html>