<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" style="background: #f6f6f6">
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>道乎</title>
    <link rel="stylesheet" type="text/css" href="../static/styles/bootstrap.min.css" th:href="@{/styles/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/styles/font-awesome.min.css" th:href="@{/styles/font-awesome.min.css}"/>

    <link rel="stylesheet" media="all" href="../static/styles/style.css" th:href="@{/styles/style.css}"/>
    <script type="text/javascript" src="../static/scripts/jquery.js" th:src="@{/scripts/jquery.js}"></script>
    <script type="text/javascript" src="../static/scripts/main/base/base.js" th:src="@{/scripts/main/base/base.js}"></script>
    <script type="text/javascript" src="../static/scripts/main/base/util.js" th:src="@{/scripts/main/base/util.js}"></script>
    <script type="text/javascript" src="../static/scripts/main/base/event.js" th:src="@{/scripts/main/base/event.js}"></script>
    <script type="text/javascript" src="../static/scripts/main/base/upload.js" th:src="@{/scripts/main/base/upload.js}"></script>
    <script type="text/javascript" src="../static/scripts/main/component/component.js" th:src="@{/scripts/main/component/component.js}"></script>
    <script type="text/javascript" src="../static/scripts/main/component/popup.js" th:src="@{/scripts/main/component/popup.js}"></script>
    <script type="text/javascript" src="../static/scripts/main/component/popupLogin.js" th:src="@{/scripts/main/component/popupLogin.js}"></script>
    <script type="text/javascript" src="../static/scripts/main/component/upload.js" th:src="@{/scripts/main/component/upload.js}"></script>
    <script type="text/javascript" src="../static/scripts/main/component/popupUpload.js" th:src="@{/scripts/main/component/popupUpload.js}"></script>
    <script type="text/javascript" src="../static/scripts/main/util/action2.js" th:src="@{/scripts/main/util/action2.js}"></script>
    <script type="text/javascript" src="../static/scripts/wangEditor.js" th:src="@{/scripts/wangEditor.js}"></script>

</head>
<div th:replace="header::header(${user})" ></div>
<body>
<div th:inline="text" id="question-main">
    <div class="cj-top">
        <div class="cj-contain">
        <div class="cj-top1">
            <div class="cj-top1-left">
                <ul class="heng-xiang">
                    <li  th:each="t: ${type}"><a class="border-radius">[[${t}]]</a></li>
                </ul>
            </div>
            <div class="cj-top1-right">
                <div class="cj-top1-right-l">
                    <div class="up-cj">关注者</div>
                    <div class="down-cj">[[${news.followCount}]]</div></div>
                <div class="cj-top1-right-r">
                <div class="up-cj">被浏览</div>
                <div class="down-cj">[[${news.readCount}]]</div>
                </div>
            </div>
            <div class="zh_clearfloat"></div>
        </div>
        <div class="cj-top2">
            <div class="zh_h1">
            <a target="_blank"  th:text="${news.title}" rel="external nofollow" th:href="'/news/'+${news.userId}" href="">这是问题?</a>
            </div>
            <div class="meta js_zh_link" style="margin-left:20px;margin-top: 30px ">
                [[${#strings.abbreviate(news.link,135)}]]<a class="full_text" th:if="${length gt 135}" th:href="'/news/'+${news.id}" href="" >查看全文<i class="icon-angle-down"></i></a>
            </div>
        </div>
        <div class="cj-top3">
            <a href=""><div class="btn btn-info">关注问题</div></a>
            <a href="javascript:void(0);" onclick="js_edit()"><div class="btn btn-default">&nbsp;<i class="icon-pencil"></i> 写回答</div></a>
            <a href=""><div class="btn btn-anwser ">&nbsp;<i class="icon-plus"></i> 邀请回答</div></a>
            <button class="zh_button zh_btn">
                <span>
                    <i class="icon-comment"></i><a th:href="'/news/'+${news.id}" href="">[[${' '+news.commentCount+' 评论'}]]</a>
                </span>

            </button>
            <button class="zh_button">
                <span>
                    <i class="juli icon-share"></i>分享
                </span>
            </button>
            <button class="zh_button">
                <span>
                    <i class="juli icon-flag"></i>举报
                </span>
            </button>
            <button class="zh_button" style="width: 100px" th:if="${user.id==news.userId}">
                <span>
                    <i class="juli icon-pencil"></i>修改问题
                </span>
            </button>
        </div>
        </div>
    </div>

    <div class="zh_detail" th:if="${news.anCount lt 1}">

        <div class="detail_right" style="background-color: #ffffff;">
    <div class="edit-div">
        <div class="user_content">
            <div class="user_head"><a th:href="${'/user/'+user.id}"><img width="32" class="img-circle" th:src="${user.headUrl}"/></a></div>
            <div class="user_right">
                <div  class="user_name"><a th:href="${'/user/'+user.id}">[[${user.zhName}]]</a></div>
                <div class="introduce">[[${user.jc}]]</div>
            </div>
            <div class="zh_clearfloat"></div>
        </div>
        <div class="an-center">
            <div id="an-div1" class="zh-toolbar"  ></div>
            <div id="an-div2" class="zh-text" >
            </div>
            <div><button id="js-btn-commit" class="btn btn-info btn-right">提交回答</button></div>
        </div>
    </div>
    <div class="no-anwser" >
        <div class="img-center"><img src="../static/images/img/write-large.png" th:src="@{/images/img/write-large.png}"/></div>
        <div class="text-center">暂时还没有回答开始<a href="javascript:void(0);" onclick="js_edit()">写第一个回答</a></div>
    </div>
        </div>
    <div class="about-question-div" >
    <div class="about-owner" style="border-bottom:#f6f6f6 solid 1px;">相关问题</div>
    <div class="about-question">
        <ul>
            <li><a href="">第一个问题第一个问题第一个问题?&nbsp;&nbsp;&nbsp;</a>0个回答</li>
            <li><a href="">第一个问题第一个问题第一个问题第一个问题第一个问题第一个问题?&nbsp;&nbsp;&nbsp;</a>0个回答</li>
            <li><a href="">第一个第一个问题第一个问题问题?&nbsp;&nbsp;&nbsp;</a>0个回答</li>
            <li><a href="">第一个问题?&nbsp;&nbsp;&nbsp;</a>0个回答</li>
        </ul>
    </div>
    </div>
        <div class="zh_clearfloat"></div>
    </div>
    <div class="zh_detail" th:each="vo: ${vos}">
    <div class="detail_right">
    <div class="zh_container">


        <div class="all-anwser" th:unless="${news.anCount lt 1}">
            <div class="anwser-top">
                <span class="an-top-l">[[${news.anCount}]]个回答</span>

                    <span class="an-top-r"> <a href="javascript:void(0);" onclick="showlist()" id="sort-show">默认排序&nbsp;&nbsp;<i class="icon-sort"></i></a>
                    <div id="sort-ul"  tabindex="-1" onblur="closelist()">
                        <ul>
                            <li><a href="javascript:void(0);" onclick="sortmoren()">默认排序</a></li>
                            <li><a href="javascript:void(0);" onclick="sorttime()">时间排序</a></li>
                        </ul>
                    </div>
                </span>

            </div>
        </div>

        <div class="post detail" >

            <div class="zh_content">
                <div class="detail_content">
                    <div class="zh_con_detail" >
                            <div class="zh_content-main">
                                <div class="user_content">
                                    <div class="user_head"><a th:href="${'/user/'+vo.get('owner').id}"><img width="32" class="img-circle" th:src="${vo.get('owner').headUrl}"/></a></div>
                                    <div class="user_right">
                                        <div  class="user_name"><a th:href="${'/user/'+vo.get('owner').id}">[[${vo.get('owner').zhName}]]</a></div>
                                        <div class="introduce">[[${vo.get('owner').jc}]]</div>
                                    </div>
                                    <div class="zh_clearfloat"></div>
                                    <div class="num-zantong">[[${vo.get('answer').likeCount}]]人已赞同该回答</div>
                                </div>

                                <div class="detail_meta">
                                    [[${vo.get('answer').entity}]]
                                </div>
                            </div>
                           <div class="zh_clearfloat"></div>
                    </div>
                </div>

            </div>
            <div class="pinlun">
                <div class="votebar">
                    <button th:if="${vo.get('like') gt 0}" class="click-like up pressed" th:attr="data-id=${vo.get('answer').id}" data-id="" title="赞同"><i class="vote-arrow"></i><span class="count">[[${'已赞同 '+vo.get('answer').likeCount}]]</span></button>

                    <button th:unless="${vo.get('like') gt 0}" class="click-like up" th:attr="data-id=${vo.get('answer').id}" data-id="" title="赞同"><i class="vote-arrow"></i><span class="count">[[${'赞同 '+vo.get('answer').likeCount}]]</span></button>

                    <button th:if="${vo.get('like') lt 0}" class="click-dislike down pressed" th:attr="data-id=${vo.get('answer').id}" data-id="" title="反对"><i class="vote-arrow"></i></button>

                    <button th:unless="${vo.get('like') lt 0}"  class="click-dislike down" th:attr="data-id=${vo.get('answer').id}" data-id="" title="反对"><i class="vote-arrow"></i></button>
                    <div style="clear:both"></div>
                </div>
                <button class="zh_button">
                                    <span>
                                        <i class="icon-comment"></i><a th:href="'/news/'+${vo.get('answer').id}" href="">[[${' '+vo.get('answer').commentCount+' 评论'}]]</a>
                                    </span>

                </button>
                <button class=" zh_button">
                                    <span>
                                        <i class="juli icon-star"></i>收藏
                                    </span>

                </button>
                <button class="zh_button">
                                    <span>
                                        <i class="juli icon-share"></i>分享
                                    </span>

                </button>
                <button class="zh_button">
                                    <span>
                                        <i class="juli icon-heart"></i>喜欢
                                    </span>

                </button>
            </div>
        </div>


        <div class="post-comment-form">

            <span th:if="${user !=null}" style="margin-left: 20px">评论 ([[${vo.get('answer').commentCount}]])</span>
            <form th:if="${user !=null}" method="post" action="/answer/addComment">
                <input name="answerId" id="answerId" type="hidden" th:value="${vo.get('answer').id}" />

                <div class="form-group text required comment_content">
                    <label class="text required sr-only">
                        <abbr title="required">*</abbr> 评论</label>
                    <textarea rows="5" class="text required comment-content form-control" name="content" id="content"></textarea>
                </div>
                <div class="text-right">
                    <input type="submit" name="commit" value="提 交" style="margin-right: 20px" class="btn btn-default btn-info"/>
                </div>
            </form>

            <div th:if="${user ==null}" style="margin-bottom: 20px" class="login-actions">
                <a class="btn btn-success" href="/?pop=1">登录后评论</a>
            </div>

        </div>

        <div id="comments" class="comments">
            <div th:each="commentvo: ${vo.get('comments')}" class="media">
                <a class="media-left" th:href="'/user/'+${commentvo.get('user').id}">
                    <img th:src="@{${commentvo.get('user').headUrl}}"/>
                </a>
                <div class="media-body">
                    <h4 class="media-heading">
                        <small class="date">[[${#dates.format(commentvo.get('comment').createdDate,'yyyy年MM月dd日 HH:mm:ss')}]]
                        </small>
                    </h4>
                    <div>[[${commentvo.get('comment').content}]]</div>
                </div>
            </div>

        </div>
        <div class="next_answer"><a><br>下一个回答</br><i class="icon-double-angle-down"></i></a></div>
        </div>
    </div>
    <div class="user_tip3">
        <div class="about-owner">关于作者</div>
        <div class="user_content" style="border-bottom:#f6f6f6 solid 1px;border-top:#f6f6f6 solid 1px;">
            <div class="user_head" style="margin-left: 15px"><a th:href="${'/user/'+vo.get('owner').id}"><img style="width: 85px;height:85px;overflow: hidden;" class="img-circle" th:src="${vo.get('owner').headUrl}"/></a></div>
            <div class="user_right">
                <div  class="u-ownername"><a th:href="${'/user/'+vo.get('owner').id}">[[${vo.get('owner').zhName}]]</a></div>
                <div class="u-introduce">[[${vo.get('owner').jc}]]</div>
            </div>
            <div class="zh_clearfloat"></div>
        </div>
        <div class="cj-top1-right-l">
            <div class="up-cj">回答</div>
            <div class="down-cj">[[${vo.get('answer_count')}]]</div></div>
        <div class="cj-top1-right-r">
            <div class="up-cj">关注者</div>
            <div class="down-cj">0</div>
    </div>
    <div class="zh_clearfloat"></div>
        <div class="about-owner" style="border-bottom:#f6f6f6 solid 1px;">相关问题</div>
        <div class="about-question">
        <ul>
            <li><a href="">第一个问题第一个问题第一个问题?&nbsp;&nbsp;&nbsp;</a>0个回答</li>
            <li><a href="">第一个问题第一个问题第一个问题第一个问题第一个问题第一个问题?&nbsp;&nbsp;&nbsp;</a>0个回答</li>
            <li><a href="">第一个第一个问题第一个问题问题?&nbsp;&nbsp;&nbsp;</a>0个回答</li>
            <li><a href="">第一个问题?&nbsp;&nbsp;&nbsp;</a>0个回答</li>
        </ul>
        </div>
    </div>
    <div class="zh_clearfloat"></div>



    </div>
</div>
</body>
<script th:inline="javascript" >
    var user1 = [[${user}]];
    var news1Id = [[${news.id}]];
</script >
<script type="text/javascript" src="/scripts/main/site/home2.js"></script>
<script type="text/javascript" th:inline="javascript">
    var E = window.wangEditor;
    var editor = new E('#an-div1','#an-div2');
    editor.customConfig.menus = [
        'head',  // 标题
        'bold',  // 粗体
        'fontSize',  // 字号
        'fontName',  // 字体
        'italic',  // 斜体
        'underline',  // 下划线
        'strikeThrough',  // 删除线
        'foreColor',  // 文字颜色
        'backColor',  // 背景颜色
        'link',  // 插入链接
        'list',  // 列表
        'justify',  // 对齐方式
        'emoticon',  // 表情
        'image',  // 插入图片
        'table',  // 表格
        'code',  // 插入代码
        'undo',  // 撤销
        'redo'  // 重复
    ]
    editor.customConfig.uploadImgServer = '/uploadImg/';
    editor.customConfig.uploadImgMaxLength = 5;
    editor.customConfig.uploadFileName = 'file';
    editor.create();

    document.getElementById('js-btn-commit').onclick=function(){
        var content=editor.txt.text();
        alert(news1Id);
        $.ajax({
            url: '/user/addAnswer/',
            method: 'post',
            data: {content: content,newsId: news1Id},
            dataType: 'json'
        }).done(function (oResult) {
            window.location.reload([bForceGet]);
        }).fail(function (oResult) {
            alert('出现错误，请重试');
        }).always(function () {
            that.requesting = false;
        });
    }

</script>
<div th:replace="footer::footer" ></div>

</html>